<html>
    <head>
        <title>The Data</title>
    </head>
    <body>
        <h1>Here is the output!</h1>
        
        <% 
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) { 
        %> 
            <marquee behavior='alternate' scrollamount='25'><div id="dataout<%= i %>" style="color: <%= data[i].color %>"><%= data[i].text %></div></marquee>             

        <% 
                } 
            }
        %>

            <marquee>This should scroll across the screen</marquee>

        <form method="POST" action="/formdata">
            <label for="data">Enter Text to Post:</label>
            <input type="text" name="data" value="Enter Text">
            <input type="color" name="color">
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>